<div class="outside-top-container top-link-container">
  <p  class="new-back-link">
  <a href="<%= backlink %>">
    <img src="/images/back-arrow.svg" alt="Back Link Arrow"> Back</a>
  </p>
  
  <p class="settings-link"> 
    <a href="/settings"><%= teacherName %>: Settings 
      <img src="/images/settings-icon.svg" alt="Settings Icon">
    </a>
  </p>
</div>

<div class="title-row title-row-forms grey-row form-container">
  <h1><%= title %></h1>
  <img src="/images/hugging-heart.svg" class="hugging-heart" alt="Hugging Heart">
</div>