<div class="outside-top-container">
  <a class="new-back-link" href="<%= backlink %>"><img src="/images/back-arrow.svg" alt="Back Link Arrow"></span> Back</a>
</div>

<div class="title-row container">
  <h1><%= title %></h1>
  <img src="/images/hugging-heart.svg" class="hugging-heart" alt="Hugging Heart">
</div>