<header>
<div class="mini-header-top-row container">
  <%# <a class="header-back-link" href="/"><span class="fa fa-arrow"></span> Home</a> %>
  <a href="/" class="desktop-logo"><img src="/images/nbrc-tree-logo-front.svg" alt="NBRC Logo"></a>
  <a href="/" class="mini-text-logo">
    <img src="/images/relationships-decoded-100.png" alt="Relationships Decoded Logo">
  </a>

</div>

</header>