<header>
<div class="header-top-row container">
  <a class="header-back-link" href="<%= backlink %>"><img src="/images/back-arrow.svg" alt="Back Link Arrow"></span> Back</a>
  <a href="/" class="stock-header-home-link"><img class="stock-header-logo" src="/images/relationships-decoded-100.png" alt="Relationships Decoded Logo"></a>

</div>
<div class="header-title-row container">
  <h1><%= title %></h1>

  <img src="/images/hugging-heart.svg" alt="Hugging Heart">

</div>

</header>