/* ----------------- Register Page --------------------- */

body.register-page {
  #register-form {
    text-align: left;
    max-width: 600px;
    padding-top: 20px;
    margin: 0 auto 30px;
    input[type='text'],
    input[type='password'],
    input[type='email'] {
      width: 100%;
      margin-top: 25px;
      line-height: 2;
      font-size: 1.6rem;
      font-family: 'Source Serif Pro', serif;
      padding: 5px 15px;
      border: none;
      border-bottom: 1px solid #ccc;
    }
    input[name='first'] {
      margin-top: 0;
    }
    input[name='pw2'] {
      margin-bottom: 25px;
    }
    label {
      display: none;
    }
    img {
      position: relative;
      top: 4px;
    }
    img.form-error-icon {
      position: relative;
      top: 2px;
      width: 30px;
    }
    .form-error {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        color: #eb3223;
      }
    }
  }
  .register-text {
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  .cancel-link {
    display: inline-block;
    margin-top: 20px;
  }
}

/* ----------------- Login Page --------------------- */

body.login-page {
  #login-form {
    text-align: left;
    max-width: 600px;
    margin: 0 auto 30px;
    input[type='text'],
    input[type='password'],
    input[type='email'] {
      width: 100%;
      margin-bottom: 25px;
      line-height: 2;
      font-size: 1.6rem;
      font-family: 'Source Serif Pro', serif;
      padding: 5px 15px;
      border: none;
      border-bottom: 1px solid #ccc;
    }
    label {
      display: none;
    }
    img {
      position: relative;
      top: 4px;
    }
    img.form-error-icon {
      position: relative;
      top: 2px;
      width: 30px;
    }
    .form-error {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        color: #eb3223;
      }
    }
  }
}

/* ----------------- Edit Password PAge ------------------ */
body.edit-password-page {
  #login-form {
    text-align: left;
    max-width: 600px;
    margin: 0 auto 30px;
    input[type='text'],
    input[type='password'],
    input[type='email'] {
      width: 100%;
      margin-top: 25px;
      line-height: 2;
      font-size: 1.6rem;
      font-family: 'Source Serif Pro', serif;
      padding: 5px 15px;
      border: none;
      border-bottom: 1px solid #ccc;
    }
    label {
      display: none;
    }
    img {
      position: relative;
      top: 4px;
    }
    img.form-error-icon {
      position: relative;
      top: 2px;
      width: 30px;
    }
    .form-error {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        color: #eb3223;
      }
    }
  }
}

.flash-green {
  background: $correct-answer-bg !important;
  color: $text-color-normal !important;
}

/* ----------------- Settings Page --------------------- */
.settings-page {
  p {
    text-align: left;
    // border-bottom: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }
  .settings-cancel-link {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  .edit-confirm-message {
    background-color: $correct-answer-bg;
    padding: 10px;
    margin-bottom: 10px;
    p {
      border: none;
      color: #222;
      font-size: 1.8rem;
    }
  }
}
#settings-form {
  text-align: left;
  max-width: 600px;
  margin: 20px auto 20px;
  input[type='text'],
  input[type='password'],
  input[type='email'] {
    width: 90%;
    margin-top: 25px;
    line-height: 2;
    font-size: 1.6rem;
    font-family: 'Source Serif Pro', serif;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  input[name='first'] {
    margin-top: 0;
  }
  input[name='pw2'] {
    margin-bottom: 25px;
  }
  label {
    display: none;
  }
  img {
    position: relative;
    top: 4px;
  }
  img.form-error-icon {
    position: relative;
    top: 2px;
    width: 30px;
  }
  .form-error {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    span {
      color: #eb3223;
    }
  }
}

/* ----------------------  ROSTER PAGE  --------------------------------------- */
.instructions-wrapper {
  margin-bottom: 20px;
  text-align: left;
  h2 {
    margin-bottom: 15px;
    font-weight: normal;
    @media (min-width: 767px) {
      br {
        display: none;
      }
    }
  }

  .settings-link img {
    position: relative;
    top: 3px;
    margin-left: 6px;
  }
}

.display-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-50 {
  width: 50%;
  height: 45vw;
  max-height: 400px;
  background: $avatar-bg-generic;
  color: #fff;
  border: 1px solid #fff;

  .avatar-circle {
    height: 22vw;
    max-height: 150px;
    width: 22vw;
    max-width: 150px;
    border: 4px solid #fff;
    border-radius: 200px;
    background: $avatar-circ-generic;
    img {
      height: 60%;
      width: auto;
      margin-top: 30%;
    }
  }

  @media (min-width: 600px) {
    width: 33.3%;
    height: 32vw;
  }
  @media (min-width: 1000px) {
    width: 25%;
    height: 24vw;
    max-height: 280px;
  }
  @media (min-width: 1320px) {
    width: 260px;
    height: 260px;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: normal;
    // margin-bottom: 30px;
  }
  a {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 15px;
  }
}

.card-color-1 {
  background: $avatar-bg-1;
}
.card-color-2 {
  background: $avatar-bg-2;
}
.card-color-3 {
  background: $avatar-bg-3;
}
.card-color-4 {
  background: $avatar-bg-4;
}

.circle-color-1 {
  background: $avatar-circ-1 !important;
  img {
    margin-top: 22% !important;
  }
}
.circle-color-2 {
  background: $avatar-circ-2 !important;
  img {
    margin-top: 22% !important;
  }
}
.circle-color-3 {
  background: $avatar-circ-3 !important;
  img {
    margin-top: 22% !important;
  }
}
.circle-color-4 {
  background: $avatar-circ-4 !important;
  img {
    margin-top: 22% !important;
  }
}

.card-50-add {
  background: $avatar-bg-add;
  .add-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $avatar-circ-add;
    span {
      font-size: 60px;
    }
    img {
      height: 30%;
      width: auto;
      margin-top: 0;
    }
  }
}

/* ----------------------  NEW STUDENT PAGE & EDIT STUDENT PAGE ------------------------------- */

// https://css-tricks.com/snippets/css/custom-checkboxes-and-radio-buttons/

// --------------------------------------------------------

.icons {
  margin: 30px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    padding: 20px 50px 0;
    margin: 30px 0 0;
  }
  @media (max-width: 380px) {
    padding: 10px;
    margin: 30px 0 0;
  }
  @media (max-width: 370px) {
    padding: 10px 0 0;
  }
}

// .icons input[type='text'] {
//   border-bottom: 1px solid #666;
//   font-size: 1.6rem;
//   width: 90%;
//   height: 35px;
//   font-family: 'Source Serif Pro', serif;
// }
#new-student-form,
#edit-student-form {
  input[type='text'] {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.6rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #999;
    // margin-bottom: 5px;
    font-size: 1.6rem;
    padding: 10px 10px;
    @media (max-width: 767px) {
      margin-bottom: 5px;
    }
  }
  input[name='last'] {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  img.form-error-icon {
    position: relative;
    top: 2px;
    width: 30px;
  }
  .form-error {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // position: relative;
    // width: 120px;
    // left: 62%;
    @media (min-width: 380px) {
      // left: 70%;
    }
    span {
      color: #eb3223;
    }
  }
}

.new-student-label {
  opacity: 0;
}

.icons input[type='radio'] {
  /* Hide the input, but have it still be clickable */
  // opacity: 0;

  float: left;
  width: 0; // 18px
  position: relative;
  z-index: -10;

  img {
    width: 80px;
    height: auto;
    padding: 20px;
  }

  + label {
    margin: 0 5px 5px 0;
    clear: none;
    /* just so u can see it*/
    // background: #555 left center no-repeat;
    &.radio-label-1 {
      background: $avatar-circ-3;
    }
    &.radio-label-2 {
      background: $header-bg;
    }
    &.radio-label-3 {
      background: $avatar-circ-1;
    }
    &.radio-label-4 {
      background: $avatar-circ-2;
    }

    /* Left padding makes room for image */
    // width: 21%;
    height: auto;
    padding: 15px 15px 10px 15px;
    // padding: 2% 9%;
    border-radius: 200px;
    border: 3px solid $avatar-border-unchecked;
    cursor: pointer;

    // fox positions
    position: relative;
    left: -25px;
    top: 0;
    @media (max-width: 550px) {
      left: 0;
      top: -25px;
    }
    @media (max-width: 370px) {
      img {
        width: 35px;
      }
    }
  }
}

.icons input[type='radio']:checked + label {
  border: 3px solid $avatar-border-checked;
}

p.new-student-instruction {
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.new-student-submit {
  margin: 50px auto 30px;
}

/* ----------------------- Edit Student page -------------- */

.edit-student-page {
  .edit-confirm-message {
    background-color: $correct-answer-bg;
    padding: 10px;
    // margin: 20px 0;
  }
  .edit-instructions {
    border-bottom: 1px solid #e5e5e5;
  }
  input[type='submit'] {
    margin-top: 70px;
  }
}

/* ------------------ Terms & Conditions Page ---------------- */

body.terms-page {
  .terms-content {
    text-align: left;
    margin-top: 40px;
    h1,
    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 20px;
    }
  }

  .outside-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 500px) {
      display: block;
      .settings-link {
        margin-top: 10px;
      }
    }
  }

  .settings-link {
    padding: 10px 20px 5px 5px;
    img {
      position: relative;
      top: 5px;
      margin-left: 5px;
    }
  }
}
