// COLORS
$text-color-dark: #111;
$text-color-normal: #444;
$text-color-light: #999;

$brand-color: #ff5f2e;

$header-bg: #f8cf51;

$correct-answer-bg: #d1fdcd;
$wrong-answer-bg: #ffc5c5;

// $gradient-dark: #521a97;
// $gradient-light: #f1ce04;
// $gradient-mid: #e80942;

$card-border-color: #444;

$avatar-bg-add: #3b3b3b;
$avatar-bg-generic: #31bdba;
$avatar-bg-1: #5b49d1;
$avatar-bg-2: #e23569;
$avatar-bg-3: #2b9257;
$avatar-bg-4: #ff5f2e;

$avatar-circ-add: #818181;
$avatar-circ-generic: #78d3d1;
$avatar-circ-1: #7060d7;
$avatar-circ-2: #ef497b;
$avatar-circ-3: #45b64a;
$avatar-circ-4: #f8cf51;

$avatar-border-unchecked: #eff1f5;
$avatar-border-checked: #dd577c;

$mobile-grey-background: #eff1f5;

// FONTS
// $default-font-size: 1.6rem;
